.form-container {
  width: 350px;
  margin-left: 35vw ;
  position: relative;
  top: 15vh;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}
.form-container input,
.form-container textarea {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #aaa;
  border-radius: 6px;
}
.form-container button {
  background-color: #0066cc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.form-container button:hover {
  background-color: #004d99;
}
.form-container span {
  color: #0066cc;
  cursor: pointer;
}
